:root{
    --primary-color:#0A2947;
    --secondary-color:#D4A017;
    --radius: 8px;
}

.hero {
    position: relative;
    height: 550px;
    overflow: hidden;
    display: flex; 
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.title{
    text-align: center;
   font-family: "Marcellus", serif;
    font-size: 22px;
    font-weight: 400;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        90deg,
        rgba(8, 22, 46, 0.85) 0%,
        rgba(8, 22, 46, 0.65) 40%,
        rgba(8, 22, 46, 0.35) 100%
    );
}

.hero .container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
}

.about-hero-content {
    max-width: 650px;
    color: #fff;
    z-index: 2;
}

.about-hero-tag {
    display: inline-block;
    padding: 8px 18px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,.25);
    border-radius: 50px;
    font-size: .95rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.about-hero-title {
    font-size: 3.6rem;
    line-height: 1.15;
    margin-bottom: 22px;
    font-weight: 700;
}

.about-hero-text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: rgba(255,255,255,.88);
    margin-bottom: 35px;
    max-width: 580px;
}

.about-hero-breadcrumb {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    font-size: .95rem;
}

.about-hero-breadcrumb a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.about-hero-breadcrumb a:hover {
    color: #f4c542;
}

.about-hero-breadcrumb span:last-child {
    color: #f4c542;
    font-weight: 600;
}

@media (max-width:991px){
    .hero{
        height:480px;
    }

    .hero-title{
        font-size:2.8rem;
    }
}

@media (max-width:768px){
    .hero{
        height:420px;
    }
    .about-hero-content{
        text-align:center;
        margin:auto;
    }
    .about-hero-title{
        font-size:2.2rem;
    }
    .about-hero-text{
        font-size:1rem;
    }
    .about-hero-breadcrumb{
        justify-content:center;
    }
}

@media (max-width:576px){
    .hero{
        height:380px;
    }
    .about-hero-title{
        font-size:1.8rem;
    }
    .about-hero-tag{
        font-size:.8rem;
        padding:7px 15px;
    }
    .about-hero-text{
        display:none;
    }
}

/* about content */

.content-section{
    padding:50px 0;
}

.content{
    max-width:1000px;
    margin:0 auto;
}

.content p{
    font-size:20px;
    line-height:1.9;
    color:#000000;
    text-align:justify;
    margin-bottom:22px;
    font-family: sans-serif;
    font-weight: 450;
}

.content p:last-child{
    margin-bottom:0;
}

.college-history{
    padding-bottom:80px;
}

/* history */
.about-history > .container{
     margin-block: 40px 100px;
}

.history-intro{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 50px;
    align-items: center;
    margin: 20px 0;
}

.history-image{
    float: right;
    width: 380px;
    margin: 0 0 20px 35px;
}

.history-image img{
    width: 100%;
    display: block;
    border-radius: 12px;
    object-fit: cover;
}

@media (max-width: 968px){
     .history-image{
        float: none;
        width: 100%;
        max-width: 380px;
         order: -1;
        margin: 0 auto 25px;
} 
}

/* vision-mission */

.logo-img{
   text-align: center;
   margin-top: 30px;
}

.logo-img img{
    height: 250px;
    width: auto;
}
.tag-line{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

/* principle  */

 .principal-header{
    padding:90px 0 70px;
    background:#faf6ef;
    text-align:center;
    position:relative;
    overflow:hidden;
     /* background-image:linear-gradient(rgba(0, 0, 0, 0.5)), url('../asset/web/about/building.webp'); */
} 

.principal-header::before{
    content:"";
    position:absolute;
    top:0;
    left:-120px;
    width:320px;
    height:320px;
    background:radial-gradient(circle,#d4b16a30,transparent 70%);
}

.principal-header::after{
    content:"";
    position:absolute;
    right:-120px;
    top:0;
    width:320px;
    height:320px;
    background:radial-gradient(circle,#7b1f2a20,transparent 70%);
}

.header-badge{
    display:inline-flex;
    align-items:center;
    gap:10px;
    padding:10px 24px;
    border:1px solid rgba(123,31,42,.2);
    border-radius:50px;
    background:#fff;
    color:#7b1f2a;
    font-size:15px;
    font-weight:600;
    letter-spacing:.5px;
}

.header-badge i{
    color:#c49b3b;
}

.header-title{
    margin:25px 0 10px;
    font-size:60px;
    font-weight:700;
    line-height:1.1;
    color:#2c2c2c;
}

.header-title span{
    color:#7b1f2a;
}

.header-divider{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:18px;
    margin:25px 0;
}

.header-divider span{
    width:120px;
    height:1px;
    background:#d4b16a;
}

.header-divider i{
    color:#c49b3b;
    font-size:22px;
}

.header-description{
    max-width:720px;
    margin:auto;
    color:#666;
    line-height:1.9;
    font-size:18px;
}

.principal-section{
    padding:70px 0;
}

/* ========= First Principal ========= */

.first-principal{
    display:flex;
    justify-content:center;
    margin-bottom:60px;
}

.first-principal .card{
    max-width:700px;
    width:100%;
    display:flex;
    align-items:center;
    background:#fff;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.first-principal img{
    width:100%;
    height:70%;
    object-fit:cover;
    border-radius:15px;
    flex-shrink:0;
}

.principal-content h2{
    margin:5px 0;
    font-size:32px;
    color: #000000;
    text-align: center;
}

.year{
    display:inline-block;
    padding:2px 15px;
    border-radius:30px;
    background:#8b1e3f;
    color:#fff;
    font-size:14px;
}

.principal-content p{
    line-height:1.8;
    color:#555;
}

.other-principal{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.other-principal{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:22px;
    margin-top:20px;
}

.other-principal .card{
    background:#fff;
    border-radius:16px;
    padding:30px 20px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:all .3s ease;
    border-top:4px solid #8b1e3f;
}

.other-principal .card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,.12);
}

.other-principal .card i{
    width:75px;
    height:75px;
    margin:0 auto 18px;
    border-radius:50%;
    background:#f6f2f3;
    color:#8b1e3f;
    font-size:34px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.other-principal .card img{
    width:100px;
     height:100px;
    object-fit:cover;
    border-radius:50%;
    margin:0 auto 18px;
    display:block;
    border:3px solid #8b1e3f;
}

.other-principal h4{
    font-size:18px;
    margin-bottom:8px;
    color:#222;
}

.other-principal span{
    display:inline-block;
    padding:6px 14px;
    background:#f3f3f3;
    border-radius:20px;
    font-size:14px;
    color:#666;
}

@media (max-width:992px){

    .first-principal .card{
        flex-direction:column;
        text-align:center;
        gap:20px;
        padding:25px;
    }
    .first-principal img{
        width:220px;
        height:270px;
    }
    .principal-content h2{
        font-size:28px;
    }
    .other-principal{
        grid-template-columns:repeat(2,1fr);
        gap:20px;
    }
}


@media (max-width:768px){

    .principal-header{
        padding:60px 0 40px;
    }

    .header-title{
        font-size:34px;
    }
    .header-divider span{
        width:60px;
    }
    .header-description{
        font-size:15px;
        line-height:1.7;
    }
    .first-principal img{
        width:200px;
        height:240px;
    }
    .principal-content h2{
        font-size:26px;
    }

    .other-principal{
        gap:18px;
    }
}

@media (max-width:576px){
    .first-principal .card{
        padding:20px 15px;
        border-radius:15px;
    }

    .first-principal img{
        width:170px;
        height:210px;
    }

    .principal-content h2{
        font-size:22px;
    }

    .principal-content p{
        font-size:15px;
        line-height:1.6;
    }

    .year{
        font-size:13px;
        padding:5px 12px;
    }

    .other-principal{
        grid-template-columns:1fr;
        gap:16px;
    }

    .other-principal .card{
        max-width:280px;
        width:100%;
        margin:0 auto;
    }

    .other-principal .card img,
    .other-principal .card i{
        width:100px;
        height:100px;
        font-size:30px;
    }

    .other-principal h4{
        font-size:17px;
    }

    .other-principal span{
        font-size:13px;
    }

}
/* rule -regulation */
.page-section{
    margin-block: 40px 80px;
}

.rule{
    color: rgb(46, 46, 116);
}

.anti-ragging-form{
    margin-top: 30px;
    display: flex;
}

/* iqar & aqar */

.hero-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.hero .container {
    position: relative;
    z-index: 2;
    width: 100%;
}

.hero-content {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
}

.divider3 {
    width: 270px;
    margin-bottom: 25px;
}

.hero-tags ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.hero-tags li {
    color: #f4c542;
    padding: 10px 18px;
    border: 1px solid rgba(255,255,255,.4);
    background: rgba(255,255,255,.12);
    backdrop-filter: blur(8px);
    border-radius: 50px;
    font-size: .95rem;
    font-weight: 500;
}

/* iqac-main */
.iqac-main{
    padding: 80px 0;
    background: #fff;
}

.iqac-main-wrapper{
    display: grid;
    grid-template-columns: 420px 1fr;
    align-items: center;
    gap: 60px;
}


.iqac-card{
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    border: 1px solid #e8e8e8;
    max-width: 400px;
}

.iqac-card img{
    width: 100%;
    display: block;
    border-radius: 12px;
    object-fit: contain;
}

/* Content */
.iqac-content > p{
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 10px
}

.iqac-content h3{
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
}

.iqac-content h3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 170px;
    height: 3px;
    background: #d4af37;
    border-radius: 50px;
}

@media(max-width:868px){
   .iqac-main-wrapper{
        grid-template-columns:1fr;
        text-align: center;
    }
   
     .iqac-card{
        margin:0 auto;
    }
}

/* iqac obj */
.section-title > h2{
    color: rgb(51, 51, 185);
    text-transform: uppercase;
}

.objective-wrapper{
     display:grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content:center;
    gap:25px;
}

.objective-card{
    border: 1px solid rgb(166, 161, 161);
    text-align: center;
    border-radius: 12px;
    padding: 10px 5px;
}

.objective-icon{
    width:80px;
    height:90px;
    margin:auto;
}

.objective-icon i{
    font-size: 70px;
    line-height: 1;
}

.objective-icon img{
    width:100%;
}

/*==================================
   IQAC Committee & AQAR Reports
===================================*/

.iqac-resource{
    padding: 80px 0;
    background: #f8fafc;
}

.iqac-resource-wrapper{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 30px;
}

.committee-card,
.report-card{
    background: #fff;
    border-radius: 18px;
    padding: 25px;
    border: 1px solid #e7eaf3;
    box-shadow: 0 8px 25px rgba(0,0,0,.05);
}

.section-heading{
    margin-bottom: 20px;
}

.section-heading h2{
    font-size: 24px;
    color: #0d2d6c;
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.section-heading h2::after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:70px;
    height:3px;
    background:#d4af37;
    border-radius:50px;
}

.committee-table thead{
    background:#0d2d6c;
}

.committee-table thead th{
    color:#fff;
    font-size:14px;
    padding:14px;
    text-align:left;
}

.committee-table tbody td{
    padding:14px;
    border-bottom:1px solid #edf1f7;
    font-size:15px;
}

.committee-table tbody tr:hover{
    background:#f7faff;
}

.report-grid{
    display:grid;
     grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:18px;
}

.report-item{
    text-decoration:none;
    border:1px solid #e5e7eb;
    border-radius:14px;
    padding:18px;
    transition:.3s;
    color:#222;
}

.report-item:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(13,45,108,.12);
    border-color:#0d2d6c;
}

.report-item i{
    font-size:34px;
    color:#0d2d6c;
    margin-bottom:12px;
}

.report-item h4{
    font-size:18px;
    margin-bottom:6px;
    color:#0d2d6c;
}

.report-item span{
    font-size:14px;
    color:#666;
}

.committee-footer,
.report-footer{
    margin-top:25px;
    text-align:right;
}

.committee-footer > a{
     background-color: green;
     padding: 10px 4px;
     border-radius: 5px;
     color: #000000;
}


.report-footer > a{
      background-color: green;
     padding: 10px 4px;
     border-radius: 5px;
     color: #000000;
}

@media(max-width:992px){
    .iqac-resource-wrapper{
        grid-template-columns:1fr;
    }

}

@media(max-width:768px){
    .report-grid{
        grid-template-columns:1fr 1fr;
    }

    .committee-card,
    .report-card{
        padding:20px;
    }

}

@media(max-width:576px){
    .report-grid{
        grid-template-columns:1fr;
    }
    .section-heading h2{
        font-size:20px;
    }
    .committee-footer,
    .report-footer{
        text-align:center;
    }
    .btn-view{
        width:100%;
        text-align:center;
    }
}

.certificate-img{
    height: 150px;
    width: 230px;
}

/* document */
.document-card{
    display:flex;
    align-items:center;
    gap:18px;
    padding:18px;
    height:100%;
    background:#fff;
    border:1px solid #e6edf5;
    border-radius:14px;
    text-decoration:none;
    transition:.35s;
}

.document-card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 30px rgba(0,0,0,.08);
    border-color:#0d47a1;
}

.document-icon{
    width:62px;
    height:62px;
    border-radius:12px;
    background:#0d47a1;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-shrink:0;
}

.document-icon i{
    color:#fff;
    font-size:28px;
}

.document-content{
    flex:1;
}

.document-content h5{
    margin:0;
    font-size:18px;
    color:#0d2d6c;
    font-weight:700;
}

.document-content span{
    display:block;
    margin-top:5px;
    color:#777;
    font-size:14px;
}

.document-card:hover .document-icon{
    background:#d4af37;
}

.newslatter{
    padding: 60px 0;
}

.newsletter-card{
    width: 100%;
    height: 460px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    padding: 15px;
    transition: .3s ease;
    cursor: pointer;
}

.newsletter-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,.12);
}

.newsletter-img{
    width: 100%;
    height: 100%;
}

.newsletter-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

@media (max-width:992px){
    .newsletter-card{
        height: 400px;
        margin: 15px;
    }
}

@media (max-width:576px){
    .newsletter-card{
        height: 340px;
    }
}

/* infrastructure */

.campus-counter{
    margin-top:-70px;
    position:relative;
    z-index:10;
}

.counter-wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.counter-item{
    flex:1 1 11%;
    min-width:140px;
    text-align:center;
    padding:15px 15px;
    border-right:1px solid #ececec;
    transition:.3s;
}

.counter-item:last-child{
    border-right:none;
}

.counter-item:hover{
    background:#f8f9fc;
}

.counter-item i{
    font-size:30px;
    color:#123a8d;
    margin-bottom:15px;
}

.counter-item h3{
    font-size:20px;
    font-weight:500;
    color:#000000;
    margin-bottom:5px;

}

.counter-item span{
    display:block;
    color:#555;
    font-size:15px;
    margin-bottom:2px;
}

.counter-item p{
    margin:0;
    color:#123a8d;
    font-weight:600;
    font-size:15px;
}

/* classroom */

.facility-section{
    padding: 80px 0;
    background: #f8f9fc;
}

.facility-layout{
    display: flex;
    gap: 35px;
    align-items: stretch;
}

.facility-content{
    flex: 0 0 65%;
    background: #fff;
    border-radius: 15px;
    padding: 35px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.facility-grid{
    display: flex;
    gap: 30px;
}

.facility-card{
    flex: 1;
    padding-right: 15pxpx;
    border-right: 1px solid #e8e8e8;
}

.facility-card h5{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    margin: 25px 0;
}

.facility-item{
    display: flex;
    gap: 14px;
    align-items: flex-start;
    margin-bottom: 22px;
}

.dot{
    width: 10px;
    height: 10px;
    background: var(--secondary-color);
    border-radius: 50%;
    margin-top: 8px;
    flex-shrink: 0;
}

.facility-item h6{
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    color: var(--primary-color);
}

.facility-item p{
    margin: 4px 0 0;
    font-size: 15px;
    color: #666;
}


.facility-image{
    flex: 0 0 35%;
}

.facility-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

@media(max-width:991px){
    .facility-layout{
        flex-direction: column;
    }

    .facility-content,
    .facility-image{
        flex: 100%;
    }

    .facility-grid{
        flex-wrap: wrap;
        gap: 20px;
    }

    .facility-card{
        flex: 0 0 calc(50% - 10px);
        border-right: none;
        border-bottom: 1px solid #ececec;
        padding-bottom: 20px;
        padding-right: 0;
    }

    .facility-image{
        height: 350px;
        order: -1;
    }

}

@media(max-width:767px){
    .facility-content{
        padding: 25px;
    }

    .facility-grid{
        flex-direction: column;
    }

    .facility-card{
        flex: 100%;
        border-bottom: 1px solid #ececec;
        margin-bottom: 20px;
    }

    .facility-image{
        height: 280px;
    }

    .facility-card h5{
        font-size: 18px;
    }

}

/*==============================
    LABORATORY LIST
==============================*/

.facility-list{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.facility-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 3px 3px;
    transition: .3s;
}

.facility-row i{
    width: 18px;
    font-size: 25px;
    color: #0d47a1;
    text-align: center;
    flex-shrink: 0;
    padding-right: 30px;
}

.facility-row span{
    flex: 1;
    font-size: 17px;
    font-weight: 200;
    color: #333;
    line-height: 1.3;
    font-family: sans-serif;
   
}

.facility-row small{
    position: relative;
    padding: 0 15px;
    font-size: 14px;
    color: #251ac5;
    white-space: nowrap;
}

.facility-row small::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    background: #c58a1a;
    border-radius: 50%;
}

/* block */

.block-card{
    flex:1;
    min-width:320px;
    background:#fff;
    border:1px solid #e9e9e9;
    border-radius:15px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    box-shadow:0 5px 18px rgba(0,0,0,.05);
}

.block-card h4{
    padding:25px 25px 15px;
    color:var(--primary-color);
    font-size:24px;
    font-weight:700;
}

.block-content{
    padding:0 25px 20px;
    flex:1;
}

.block-image{
    margin-top:auto;
}

.block-image img{
    width:100%;
    height:220px;
    object-fit:cover;
    display:block;
}

@media(max-width:991px){
    .block-card{
        flex:0 0 calc(50% - 13px);
    }

}

@media(max-width:767px){
    .block-card{
        flex:100%;
    }
    .block-image img{
        height:200px;
    }

}

/* facility */
.facilities-wrapper{
    display: flex;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0,0,0,.05);
}

.facility-box{
    flex: 1;
    text-align: center;
    padding: 30px 15px;
    border-right: 1px solid #ececec;
    transition: .3s;
}

.facility-box:last-child{
    border-right: none;
}

.facility-box:hover{
    background: #f8f9fc;
}

.facility-box i{
    font-size: 38px;
    color: var(--primary-color);
    margin-bottom: 18px;
}

.facility-box h5{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.facility-box p{
    margin: 0;
    color: #666;
    font-size: 15px;
    line-height: 1.5;
}

@media(max-width:991px){

    .facilities-wrapper{
        flex-wrap: wrap;
    }

    .facility-box{
        flex: 0 0 33.33%;
        border-bottom: 1px solid #ececec;
    }

    .facility-box:nth-child(3n){
        border-right: none;
    }

}

@media(max-width:576px){

    .facility-box{
        flex: 0 0 50%;
    }

    .facility-box:nth-child(even){
        border-right: none;
    }

}